[Unit]
Description=Borg Backup Service

[Service]
Type=simple
Environment=BORG_PASSPHRASE='ayushee@logang1'
ExecStart=/bin/bash /home/ayush/.local/share/bin/createbackup.sh
