[Unit]
Description=Automatic IPO

[Service]
Type=simple
WorkingDirectory=/home/ayush/Code/github/MeroShare-IPO
ExecStart=/home/ayush/Code/github/MeroShare-IPO/main.py ipo
TimeoutSec=300

